* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Frozito";
  src: url("fonts/Frozito-eZ99g.ttf");
}

@media (max-width: 800px) {
  body.container {
    max-width: 800px;
    margin: auto;
  }
}

@media (max-width: 450px) {
  body.container {
    max-width: 400px;
    margin: auto;
  }
}

.container {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  }

.container {
  display: grid;
  min-width: auto;
  max-width: 1000px;
  max-height: fit-content;
  min-height: min-content;
  color: black;
  grid-template-rows: repeat(7, auto);
  font-family: "Frozito";
  margin: auto;
}

/*#region "HOME"*/
header {
  grid-row: 1;
  color: white;
  display: grid;
  grid-template-rows: 2;
  background-image: url("pictures/scenery.jpg");
  background-size: cover;
  max-width: auto;
  min-width: auto;
}

nav {
  grid-row: 1;
  display: inline-flex;
  justify-self: space-between;
  max-width: auto;
  min-width: auto;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #e4e5e5;
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 5%;
}

.navigation_buttons {
  font-family: "Frozito";
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: transparent;
  padding-right: 1%;
  padding-top: 1em;
  padding-left: 1%;
  padding-bottom: 1em;
}

.navigation_buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(79, 214, 248, 0.548),
    0 17px 50px 0 rgba(79, 214, 248, 0.19);
}

.navigation_buttons:active {
  background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(89, 210, 240, 0.24),
    0 17px 50px 0 rgba(89, 210, 240, 0.19);
  transform: translateY(10px);
}
.social_icons {
  float: right;
  font-family: "Font Awesome";
  font-size: 21px;
  font-weight: 400;
  justify-self: flex-end;
  letter-spacing: 10px;
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 1.5%;
}
.icon {
  color: #ffffff;
}
.icon:hover {
  box-shadow: 0 12px 16px 0 rgba(79, 214, 248, 0.548),
    0 17px 50px 0 rgba(79, 214, 248, 0.19);
}
.main {
  grid-row: 2;
  word-wrap: break-word;
  max-width: 800px;
  color: black;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  justify-self: center;
  justify-content: center;
  margin-bottom: 8%;
  margin-top: 8%;
  min-width: auto;
}
.title {
  margin-bottom: 10%;
}

.booking_button {
  width: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 2px solid #ffffff;
  background-color: rgba(88, 170, 238, 0.568);
  font-family: "Frozito";
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.booking_button:hover {
  background-color: #3e8e41;
}

.booking_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.menu_button {
  width: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 2px solid #ffffff;
  background-color: rgba(88, 170, 238, 0.568);
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
  font-family: "Frozito";
}

.menu_button:hover {
  background-color: rgb(199, 81, 164);
}

.menu_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*#endregion*/

/*#region "About"*/
.about {
  grid-row: 2;
  background-image: url("pictures/elsa2.jpeg");
  background-repeat: no-repeat;
  max-width: auto;
  padding-bottom: 8%;
  justify-items: right;
  padding-right: 4%;
  min-width: auto;
}

.about_article {
  display: flex;
  flex-direction: column;
  text-align: right;
  box-sizing: border-box;
  text-align: center;
  float: right;
  margin-top: 5%;
  padding-right: 4%;
  padding-left: 3%;
  background-color: rgba(255, 255, 255, 0.705);
  width: 50%;
}

.about_title {
  padding-top: 10%;
  font-size: 40px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 5%;
}

.divider {
  opacity: 0.8;
  display: block;
  margin-left: 11%;
  width: 350px;
  height: 120px;
  padding-bottom: 5%;
}
.about_text {
  height: max-content;
  overflow: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5%;
}
.fancy {
  border-radius: 30%;
  width: 150px;
  height: 150px;
  margin-left: 30%;
  box-shadow: 2px 2px 2px 2px #666;
}
/*#endregion*/

/*#region "Ingredients"*/
.ingredients {
  grid-row: 3;
  background-image: url("pictures/walpaper2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: auto;
  max-width: auto;
}

.ingredients_article {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  border: 1px solid #000000;
  background-color: rgba(1, 1, 1, 0.67);
  float: left;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 3%;
}

.ingredients_title {
  color: white;
  font-size: 36px;
  font-weight: 400;
  opacity: 1;
  padding-top: 80px;
  padding-left: 34px;
}

.divider_ingr {
  width: 350px;
  height: 120px;
}

.ingredients_text {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 8%;
}

.small_pictures {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 3%;
}

.pc {
  width: 20%;
  height: 20%;
  border: 2px solid grey;
  border-radius: 50%;
}
/*#endregion*/

/*#region "Menu"*/
.menu {
  grid-row: 4;
  background-color: white;
  min-width: auto;
  max-width: auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 7%;
  align-content: space-around;
  overflow: hidden;
  column-count: 2;
  max-width: 100%;
  min-width: auto;
  max-height: 1000px;
  margin-bottom: 5%;
  opacity: 4;
  z-index: 8;
  column-gap: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.bruni {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  z-index: 0.5;
  opacity: 0.9;
}

.menu_title {
  height: 27px;
  color: #1b73a7;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 3%;
}

.menu_divider {
  width: 40%;
  height: 20%;
  padding-bottom: 5%;
  opacity: 0.7;
  padding-left: 30%;
}

.price_part {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  width: 100%;
  margin-bottom: 5%;
  height: 65px;
}

.special_part {
  margin-top: -20px;
}

.special_part > .price_part {
  border: solid 1px #1b73a7;
  height: 61px;
  padding-top: -10%;
}

.special {
  float: right;
  background-color: #1b73a7;
  border: #1b73a7 solid 1px;
  color: white;
  position: relative;
  opacity: 0.8;
}

.name {
  color: #1b73a7;
  grid-column: 1;
  grid-row: 1;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 5px;
}

.price {
  color: #1b73a7;
  font-size: 18px;
  font-weight: 400;
  grid-row: 1;
  grid-column: 1;
  text-align: right;
}

.line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #1b73a7;
  grid-row: 2;
  grid-column: 1;
  margin-top: 2%;
  margin-bottom: 2%;
}

.small_text {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  grid-row: 3;
  grid-column: 1;
}

.first_menu {
  width:40%;
  height: 430px;
}

.second_menu {
  margin-top: 5%;
  width:40%;
  height: 420px;
}

.third_menu {
  width:40%;
  height: 320px;
}

.fourth_menu {
  margin-top: 5%;
  width:40%;
  height: 520px;
}
.static {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  z-index: 2;
}

/*#endregion*/

/*#region "Reviews"*/
.reviews {
  grid-row: 5;
  background-image: url("pictures/Olaf_long.png");
  background-repeat: no-repeat;
  max-width: auto;
  background-size: cover;
  min-width: auto;
}

.rev {
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.5);
  align-items: center;
  margin-top: 3%;
  float: right;
  max-width: 700px;
  max-height: max-content;
  text-align: center;
  margin-bottom: 3%;
  margin-right: 2%;
  padding-bottom: 2%;
  min-width: fit-content;
}

.rev_title {
  width: 100%;
  height: 34px;
  color: white;
  font-size: 36px;
  font-weight: 400;
  opacity: 0.9;
  padding-top: 8%;
}

.rev_divider {
  width: 40%;
  height: 100px;
}

.rev_text {
  width: 622px;
  height: 267px;
  color: #dde0df;
  font-size: 25px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0.5px;
  opacity: 0.9;
}

.end {
  margin-top: 8%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 30%;
}

/*#endregion*/

/*#region "Reservations"*/
.reservations {
  grid-row: 6;
  display: grid;
  grid-template-columns: 3 auto;
  max-width: auto;
  min-height: fit-content;
  min-width: auto;
  margin-bottom: auto;
  text-align: center;
  background-image: url("pictures/sven2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bitki {
  grid-column: 1;
  width: 90%;
  height: 90%;
  padding-top: 18%;
  padding-left: 10%;
  z-index: 1;
  padding-right: 5%;
}

.cherry {
  grid-column: 2;
  width: 90%;
  height: 90%;
  padding-top: 18%;
  z-index: 0.5;
  padding-left: 3%;
}

.text_part {
  grid-column: 3;
  text-align: center;
  z-index: 3;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.781);
  margin-right: auto;
  margin-bottom: 5%;
}

.res_title {
  color: #1b73a7;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 4%;
  text-align: center;
}

.res_divider {
  width: 40%;
  height:80px;
  padding-bottom: 1%;
  opacity: 0.7;
}

.res_text {
  width: 90%;
  color: #1b73a7;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  margin-left: 5%;
}

.forms {
  display: grid;
  grid-template-rows: 3 auto;
  margin-top: 5%;
  text-align: left;
  margin-left: 10%;
  width: inherit;
  height: fit-content;
}

input {
  height: 100%;
  border: 1px solid #1b73a7;
  background-color: #ffffff;
  opacity: 0.8;
  color: #7c7c7c;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
}

select {
  width: 70%;
  height: 80%;
  border: 1px solid #1b73a7;
  background-color: #ffffff;
  opacity: 0.8;
  color: #7c7c7c;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
}

label {
  color: #1b73a7;
  font-family: "Frozito";
  font-size: 14px;
  font-weight: 700;
}

.forms_name {
  grid-row: 1;
  margin-bottom: 10%;
  height: 50%;
}
.email {
  grid-row: 1;
  width: min-content;
  height: 50%;
  margin-bottom: 10%;
}

.date {
  grid-row: 2;
  width: 100%;
  height: 80%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date > input::after {
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 400;
  content: "\f073";
  padding-right: 10%;
  z-index: 4;
  font-style: normal;
}

.party {
  grid-row: 2;
  width: 100%;
  height: 100%;
}

.submit_bt {
  border: 1px solid #1b73a7;
  background-color: #1b73a7;
  color: #ffffff;
  font-family: "Frozito";
  font-size: 16px;
  font-weight: 400;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 40%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
}
/*#endregion*/

/*#region "Footer*/
footer {
  grid-row: 7;
  background-image: url("pictures/frozen4new.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 3 auto;
  justify-content: space-around;
  padding-top: 5%;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  width: auto;
  padding-bottom: 5%;
}

.footer_title {
  height: 15px;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.footer_div {
  width: 120px;
  height: 50px;
}

.footer_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer_first {
  grid-column: 1;
  text-align: center;
  max-width: 300px;
  padding-right: -2%;
  background-color: rgba(0, 0, 0, 0.397);
}

.footer_second {
  grid-column: 2;
  text-align: center;
}

.cards {
  color: #ffffff;
  font-family: "Font Awesome";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 15%;
}

.footer_third {
  grid-column: 3;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: min-content;
}

.social {
  color: #ffffff;
  font-family: "Font Awesome";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 15%;
}
/*#endregion*/
